.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-text {
    flex-grow: 1;
  }
  
  .card-body button {
    margin-top: auto;
  }
  